body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: #fff;
  color: #2d2d2d;
  letter-spacing: 0.02rem;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

.container {
  max-width: 1230px;
}

.col-20 {
  width: 20%;
  padding-left: 15px;
  padding-right: 10px;
}

.col-80 {
  width: 80%;
  padding-left: 10px;
  padding-right: 15px;
}

/****************************************
          REUSED COMPONENT
****************************************/
/******* TOOLBAR *******/
.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
  padding: 9px 9px 9px 20px;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.toolbar--left, .toolbar--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
}

.toolbar span {
  margin: 0 15px;
}

.toolbar .view-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 73px;
  height: 38px;
  padding: 1px;
}

.toolbar .view-mode .view-mode--grid,
.toolbar .view-mode .view-mode--list {
  width: 36px;
  height: 36px;
  color: #e0e5e2;
  background-color: #fff;
  border: 1px solid #e0e5e2;
}

.toolbar .view-mode .view-mode--grid i,
.toolbar .view-mode .view-mode--list i {
  font-size: 17px;
  pointer-events: none;
}

.toolbar .view-mode .view-mode--grid:focus,
.toolbar .view-mode .view-mode--list:focus {
  outline: none;
}

.toolbar .view-mode .view-mode--grid {
  padding-right: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.toolbar .view-mode .view-mode--list {
  margin-left: -1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.toolbar .view-mode .active {
  color: black;
}

.toolbar .dropdown:first-of-type {
  width: 80px;
  margin-right: 15px;
}

.toolbar .dropdown:last-of-type {
  width: 170px;
}

.toolbar .btn,
.toolbar .dropdown-menu {
  width: 100%;
  min-width: 0;
  color: #2d2d2d;
  background-color: #fff;
  border: 1px solid #e0e5e2;
  text-align: left;
  font-family: "Arimo", sans-serif;
  font-size: 12px;
}

.toolbar .show > .btn-secondary.dropdown-toggle {
  color: #2d2d2d;
  background-color: #fff;
  border: 1px solid #e0e5e2;
}

.toolbar .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toolbar .dropdown-item {
  text-transform: none;
}

.toolbar .dropdown-item:hover {
  background-color: #e0e5e2;
}

/******* CARD *******/
.card {
  border: none;
}

.card img {
  height: 220px;
}

.card-top {
  position: relative;
}

.card-top .card-label,
.card-top .card-quick-view {
  position: absolute;
  font-size: 12px;
}

.card-top .card-label {
  top: 20px;
  padding: 2px 5px;
  font-family: "Arimo", sans-serif;
  color: white;
  background-color: #e7040f;
}

.card-top .card-label strong {
  font-weight: 400;
}

.card-top .card-quick-view {
  visibility: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5px 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 0 0 6px 0.1px #b8bab9;
          box-shadow: 0 0 6px 0.1px #b8bab9;
}

.card-top .card-quick-view:hover {
  color: white;
  background-color: black;
}

.card-body {
  padding: 10px 0 15px;
}

.card-body-title, .card-body-subtitle {
  height: 23px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.card-body-title, .card-body-text {
  font-family: "Arimo", sans-serif;
}

.card-body-subtitle,
.card-body .btn {
  font-family: "Oswald";
  text-transform: uppercase;
}

.card-body-title:hover {
  cursor: pointer;
  color: #e7040f;
}

.card-body .price-box {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #e7040f;
}

.card-body .btn {
  visibility: hidden;
  width: 100%;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 600;
  background-color: #ff416a;
  border: 1px solid black;
}

.card-body .btn:hover {
  background-color: #ff722e;
  border: 1px solid #ff416a;
}

/****************************************
		SECTION display-page-url
****************************************/
.display-page-url {
  height: 56px;
  padding: 17px 0 15px;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.arrow {
  font-size: 17px;
}

/****************************************
		SECTION collection
****************************************/
.collection {
  /******* HEADER *******/
  /******* ITEM *******/
}

.collection__sidebar {
  height: 100px;
  background-color: red;
}

.collection__image {
  margin-bottom: 33px;
}

.collection__title {
  margin-bottom: 35px;
}

.collection__title h1 {
  height: 30px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.collection__item {
  margin-bottom: 5px;
}

.collection__item:hover {
  padding: -15px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px 0.1px #b8bab9;
          box-shadow: 0 0 5px 0.1px #b8bab9;
}

.collection__item:hover .btn,
.collection__item:hover .card-quick-view {
  cursor: pointer;
  visibility: visible;
}

/****************************************
		SECTION description
****************************************/
.collection__des h2 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.collection__des p {
  margin-bottom: 10px;
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

/****************************************
		SECTION recently-viewed-product
****************************************/
/****************************************
		SECTION brands
****************************************/
.brand .brand__block {
  padding: 38px 0;
}
/*# sourceMappingURL=product-page.css.map */