body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: #fff;
  color: #2d2d2d;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

.container {
  max-width: 1230px;
}

.col-20 {
  width: 20%;
  padding-left: 15px;
  padding-right: 10px;
}

.col-80 {
  width: 80%;
  padding-left: 10px;
  padding-right: 15px;
}

/****************************************
		TOOLBAR
****************************************/
.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
  padding: 9px 9px 9px 20px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.toolbar--left, .toolbar--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
}

.toolbar span {
  margin: 0 15px;
}

.toolbar .view-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 73px;
  height: 38px;
  padding: 1px;
}

.toolbar .view-mode .view-mode--grid,
.toolbar .view-mode .view-mode--list {
  width: 36px;
  height: 36px;
  color: #e0e5e2;
  background-color: #fff;
  border: 1px solid #e0e5e2;
}

.toolbar .view-mode .view-mode--grid i,
.toolbar .view-mode .view-mode--list i {
  font-size: 17px;
  pointer-events: none;
}

.toolbar .view-mode .view-mode--grid:focus,
.toolbar .view-mode .view-mode--list:focus {
  outline: none;
}

.toolbar .view-mode .view-mode--grid {
  padding-right: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.toolbar .view-mode .view-mode--list {
  margin-left: -1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.toolbar .view-mode .active {
  color: black;
}

.toolbar .dropdown:first-of-type {
  width: 80px;
  margin-right: 15px;
}

.toolbar .dropdown:last-of-type {
  width: 170px;
}

.toolbar .btn,
.toolbar .dropdown-menu {
  width: 100%;
  min-width: 0;
  color: #2d2d2d;
  background-color: #fff;
  border: 1px solid #e0e5e2;
  text-align: left;
  font-family: "Arimo", sans-serif;
  font-size: 12px;
}

.toolbar .show > .btn-secondary.dropdown-toggle {
  color: #2d2d2d;
  background-color: #fff;
  border: 1px solid #e0e5e2;
}

.toolbar .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toolbar .dropdown-item:hover {
  background-color: #e0e5e2;
}

/****************************************
		SECTION display-page-url
****************************************/
.display-page-url {
  height: 56px;
  padding: 17px 0 15px;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.arrow {
  font-size: 17px;
}

/****************************************
		SECTION collection
****************************************/
.collection {
  /******* HEADER *******/
}

.collection__sidebar {
  height: 100px;
  background-color: red;
}

.collection__image {
  margin-bottom: 33px;
}

.collection__title {
  margin-bottom: 35px;
}

.collection__title h1 {
  height: 30px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

/****************************************
		SECTION trademark
****************************************/
/*# sourceMappingURL=product-page.css.map */