@import 'basic-setup';

/******* BLUR GRAY BORDER BOTTOM *******/
%blurGrayBorderBottom {
	content: '';
	position: absolute;
	left: 0;
	bottom: -9px;
	width: 100%;
	height: 2px;
	background: #000;
}

/****************************************
		SECTION collection content
****************************************/
.collection {
	/******* HEADER *******/
	&__image {
		margin-bottom: 33px;
	}

	&__title {
		margin-bottom: 35px;
		h1 {
			height: 30px;

			color: $secondaryColor;
			font-size: 24px;
		}

		strong {
			font-weight: 600;
		}
	}

	/******* ITEM *******/
	&__item {
		margin-bottom: 5px;

		&:hover {
			padding: -15px;
			box-shadow: 0 0 5px 0.1px #b8bab9;

			.btn,
			.card-quick-view-btn {
				visibility: visible;
			}
		}

		&--featured {
			width: 95%;
			margin: 0 auto;

			.btn {
				visibility: visible;
			}

			&:hover {
				box-shadow: none;
			}
		}
	}
}

/****************************************
		SECTION description
****************************************/
.collection__des {
	h2 {
		margin-bottom: 24px;
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
	}

	p {
		margin-bottom: 10px;
		font-family: $secondaryFont, sans-serif;
		font-size: 12px;
		font-weight: 400;
	}
}

/****************************************
		SECTION sidebar
****************************************/

.sidebar {
	position: sticky;
	top: 5vh;
}

.sidebar__filter {
	.card-body label {
		margin-bottom: 10px;
		padding-left: 15px;

		vertical-align: center;
		font-size: 12px;
		font-family: $secondaryFont, sans-serif;
		font-weight: 400;
		cursor: pointer;
	}
}

.filter__title {
	h2 {
		border-bottom: 1px solid $borderColor;
	}

	.btn,
	.arrow-up .fa-angle-up {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.arrow-up {
		padding-right: 10px;
	}

	.btn {
		padding-left: 0;

		&.focus,
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	.arrow-up .fa-angle-up {
		transition: transform 0.4s ease-in-out;
	}
}

.featured-product {
	&__title {
		text-align: left;

		h3 {
			padding-bottom: 8px;

			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			border-bottom: 1px solid #efefef;

			span {
				position: relative;
			}

			span::before {
				@extend %blurGrayBorderBottom;
			}
		}
	}
}

/****************************************
		SECTION overlay quick view
****************************************/
.quick-view-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
}

.quick-view {
	position: relative;
	margin: 15vh auto 0;
	max-width: (1200px/100 * 80);
	background-color: white;

	.close-button {
		position: absolute;
		left: 100%;
		bottom: 100%;
		width: 36px;
		height: 36px;
		padding: 3px 0;

		font-size: 30px;
		line-height: 30px;
		text-align: center;

		color: white;
		background-color: black;

		&:hover {
			background-color: $hoverTextColor;
		}
	}

	.product-quick-view {
		position: absolute;
	}
}
