.btn-group {
    width: 80%;
    margin-left: 30rem;
    margin-top: 100px;
}
.button {
    text-align: center;
    background-color: white;
    outline: none;
    border: none;
    width: 100%;

}
.button:hover {
    color: orange;
}

/* input:focus {
    border-bottom: 3px solid orange;
} */

.table {
    width: 80% !important;
    margin: 1rem 0 0 30rem;
    border-bottom: 1px solid #ebebe0;
    border-top: 1px solid #ebebe0;
}
table tr {
   
    border-bottom: 1px solid #ebebe0;
    border-top: 1px solid #ebebe0;
}
img {
    width: 100px;
}