/* .container {
    position: relative;
    display: block;
    left: 10rem;
    top: 10rem;
} */
.form-category {
    display: none;
    margin: auto;
    border: 2px gray;
    margin: 0 0 0 30rem;
}
/* .title {
    margin-left: 10%;
} */
.form-category input{
    width: 100%;
}
.img-thumbnail {
    width: 100px;
}
#index {
    display: none;
}
.table{
    width: 80% !important;
    margin: 0 0 0 30rem;
    border-bottom: 1px solid #ebebe0;
    border-top: 1px solid #ebebe0;
}
.add {
    margin: 0 0 0 30rem;

}
.search-box {
    margin: 10rem 0 0 30rem;
}
