body {
  width: 80%;
  margin: auto;
}

.tool-area {
}
.tool-area .search-box {
  float: left;
}
.tool-area .btns {
  float: right;
}
.input-frm {
  margin-top: 100px;
}

.select-cate div {
  margin: 10px 0 10px 40px;
}

label {
  font-weight: bold;
}

.btns-group {
  margin: 10px 0 0 0;
  text-align: center;
}
