.table {
  text-align: center;
  vertical-align: middle;
}
.content {
  font-size: 162%;
}

#search {
  width: 97%;
  border: none;
}

.search-box {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 162%;
}
