.display-page-url {
  height: 56px;
  padding: 17px 0 15px;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.arrow {
  font-size: 14px;
  font-weight: 400;
}
