@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");
:root {
    --red: #ee596f;
    --yellow: #feb800;
    --green: #07a787;
    --purple: #c765d0;
    --gray: #787878;
    --gray-light: #eee;
    --gray-dark: #2e3c54;
    --font: "Montserrat", sans-serif;
}
.col-form-label-lg{
    max-height: 1200px;
    max-width: 700px;
    height: 900px;
    width: 600px;
    margin: auto;
    background-color: grey;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: SansSerif;
    justify-content: center;
}
